<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courts Data Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>

      <div style='margin-left: 20px;'>
        <form action="/test/" method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-dark" onclick="location.href='/all_civil_cases'">Get Cases</button>
        </form>
      </div>

  </body>
</html> -->