{% extends "sub_page_base.html" %}

{% block content %}
    <h2>DATA DICTIONARY</h2>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center" style="background-color:#BBB;">
                <a class="nav-link" href="/circuit-civil/">
                    <br>
                    <h4>Circuit - Civil</h4>
                    <br>
                </a>
            </div>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-5 text-center" style="background-color:#BBB;">
                <a class="nav-link" href="/circuit-criminal/">
                    <br>
                    <h4>Circuit - Criminal</h4>
                    <br>
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 text-center" style="background-color:#BBB;">
                <a class="nav-link" href="/district-civil/">
                    <br>
                    <h4>District - Civil</h4>
                    <br>
                </a>
            </div>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-5 text-center" style="background-color:#BBB;">
                <a class="nav-link" href="/district-criminal/">
                    <br>
                    <h4>District - Criminal</h4>
                    <br>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}