	<footer class="footer bg-dark">
		<div class="flex-ldlfoot container">
			<div class="foot_logo">
				<a href="//legaldatalab.law.virginia.edu/">
					<img style="margin: 0 auto;" src="//legaldatalab.law.virginia.edu/bl-themes/ldl_2019/img/LDL_logo_2_2x.png" alt="UVA Law Legal Data Lab" />
				</a>
			</div>
			<div>
				<p id="footer-heading" class="text-white text-uppercase">Contact the Legal Data Lab</p>
				<ul id="footer-contact" class="text-white">
				<li><i class="fas fa-map-marker-alt"></i> Arthur J. Morris Law Library, 2nd Floor<br />
				<span style="padding-left:23px;">580 Massie Rd.</span><br />
				<span style="padding-left:23px;">Charlottesville, VA 22903</span></li>
				<li><i class="fas fa-phone" style="transform: rotate(90deg);"></i> <a href="tel:+1-434-924-4730">(434) 924-4730</a></li>
				<li><i class="far fa-envelope"></i> <a href="mailto:legaldatalab@law.virginia.edu">Email</a></li>
			</ul>
			</div>
		</div>
		<div style="text-align: center;">
			<ul class="uva-links text-white text-uppercase" style="padding: 0px; margin-bottom: 0px;">
				<li><a href="https://www.virginia.edu/">UVA</a></li>
				<li><a href="https://law.virginia.edu/">UVA Law</a></li>
				<li><a href="https://www.library.virginia.edu/">UVA Libraries</a></li>
				<li><a href="https://www.law.virginia.edu/library">Law Library</a></li>
			</ul>
			<!-- Social Networks -->
			<ul class="uva-links text-white" style="padding: 0px; margin-bottom: 0px;">
				<li>
					<a href="https://github.com/legal-data-lab">
						<img style="width:1rem;" src="//legaldatalab.law.virginia.edu/bl-themes/ldl_2019/img/github.svg" alt="Github" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/UVALegalDataLab">
						<img style="width:1rem;" src="//legaldatalab.law.virginia.edu/bl-themes/ldl_2019/img/twitter.svg" alt="Twitter" />
					</a>
				</li>
			</ul>
		</div>
		<p class="m-0 text-center text-white text-uppercase" style="font-size:smaller; padding-bottom: 20px;">&copy; <?php echo date("Y"); ?>&nbsp;by the Rector and Visitors of the University of Virginia</p>
	</footer>